.slider { width: 100%; height:600px;}

.subject-box {
  color: #333;
  background: #FFF;
  -webkit-box-shadow: 10px 10px 24px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 24px -10px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 24px -10px rgba(0,0,0,0.75);
  padding: 30px;
}

.vid-description {
  background: #EEE;
  color:#333;
  padding: 30px;
}

.vid-description-small {
  padding: 15px;
}

.vid-description-small > p {
  font-size: 12px;
}

.live-title {
  font-size: 24px;
  padding: 13px;
  background: #333;
  margin: 15px auto;
  display: inline-block;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}



textarea {
      font-family: 'Tahoma','Helvetica Neue', sans-serif;
}
